<html lang="en">
<head>
  <title>DIMPU</title>
  <link rel="stylesheet" href="/styles.css?v=1.1">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

</head>


<body>
  <nav>
    <div class="site-title">
      <a href="/">
        <h1>THE BOOK</h1>
      </a>
      <p>Book Site</p>
    </div>
    <ul>
      <li><a href="/">Book</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">Add New Book</a></li>
    </ul>
  </nav>

  <div class="about content">
    <h2>About Us</h2>
    <p>The project is built using Node.js, MongoDB, and HTML, designed to manage a collection of books. It allows users to
    store book content in a database, enabling them to add new books with detailed information such as title, author, and
    content. The backend is powered by Node.js, which interacts with MongoDB for data storage and retrieval. The frontend,
    built with HTML, provides a simple and user-friendly interface for displaying and managing the books. Users can view the
    content of each book and have the option to delete any book they no longer need, which will remove the associated data
    from the MongoDB database. This project demonstrates how a full-stack application can be developed to manage book data
    efficiently.</p>
  </div>

  <footer>
    Copyright &copy; Abhilash 2024 @
  </footer>
</body>
</html>