


<html lang="en">

<head>
  <title>DIMPU</title>
  <link rel="stylesheet" href="/styles.css?v=1.1">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>

<body>
  <nav>
    <div class="site-title">
      <a href="/">
        <h1>THE BOOK</h1>
      </a>
      <p>Book Site</p>
    </div>
    <ul>
      <li><a href="/">Book</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">Add New Book</a></li>
    </ul>
  </nav>

  <div class="blogs content">
    <h2>All Books</h2>

    <% if (blogs.length> 0) { %>
      <% blogs.forEach(blog=> { %>
        <a class="single" href="/blogs/<%= blog._id %>">
          <h3 class="title">
            <%= blog.title %>
          </h3>
          <p class="snippet">
            <%= blog.snippet %>
          </p>
        </a>
        <% }) %>
          <% } else { %>
            <p>There are no books to display...</p>
            <% } %>

  </div>

  <footer>
    Copyright &copy; Abhilash 2024 @
  </footer>
</body>

</html>